/* Reset some default styles to ensure consistency across browsers */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #141414;
    background-color: #f6f7f8;
    max-width: 950px; /* Ancho máximo de todo el contenido */
    margin: 0 auto; /* Centrar el contenido en la página */
}

/* Header Styles */
header {
    background-color: #141414;
    color: #f6f7f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Set the header to full width */
    position: fixed; /* Fix the header position */
    top: 0;
    left: 0;
  }
  
  .header-left h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .header-right ul {
    list-style: none;
    display: flex;
    margin: 0; /* Remove default margin to avoid spacing */
    padding: 0; /* Remove default padding to avoid spacing */
  }
  
  .header-right li {
    margin-right: 20px;
  }
  
  .header-right li:last-child {
    margin-right: 0;
  }
  
  .header-right a {
    color: #f6f7f8;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .header-right a:hover {
    color: #ffcd14;
  }

/* Main Content Styles */
main {
    padding: 20px;
    margin-top: 80px; /* Ajuste para dejar espacio debajo del header fijo */
}

section h2 {
    color: #ffcd14;
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
}

/* Portfolio Styles */
.work-item {
    margin-bottom: 30px;
}

.work-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Image Slider Styles */
.image-slider {
    background-color: #141414;
    padding: 20px;
    color: #f6f7f8;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #141414;
    color: #ededed;
    font-size: 11pt;
}

footer a {
    color: #ededed;
    text-decoration: none;
}

footer a:hover {
    color: #ffcd14;
}

/* Image Slider Styles */
.image-slider {
    background-color: #141414;
    padding: 20px;
    color: #f6f7f8;
}

.slider-container {
    display: flex;
    overflow: hidden;
}

.slider-container img {
    width: 100%;
    max-height: 300px; /* Ajusta la altura máxima de las imágenes según tus preferencias */
    object-fit: cover;
    transition: transform 0.5s ease;
}

/* Animación para desplazar las imágenes */
.slider-container img:not(:first-child) {
    margin-left: -100%;
}

/* Agrega animación para que el carrusel se desplace automáticamente */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Configura la velocidad de desplazamiento y la dirección del carrusel */
.slider-container {
    animation: slide 5s linear infinite; /* Desplazamiento automático cada 5 segundos */
}
